@font-face {
  
  font-family: "bold"; 
    src: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/fonts/OpenSans-Bold.woff);
  
   }

@font-face {
  
  font-family: "regular";
  src: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/fonts/OpenSans-Regular.woff);
    
}


.head {
  
  position: relative;
  background-size: cover;
  
}

.head::after {
  
  display: ;
	content: "";
	background-color: #131637;
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  opacity: 0.9;
  z-index: 1;
  
}

.logo {
    
  fill: white;
  z-index: 2;
    
}

.googlelogo {
  
  fill: white;
  z-index: 2;

}

.applelogo {
  
  fill: white;
  z-index: 2;

}

.headlogo {
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.sur {
  
  color: white;
  font-family: bold;
  z-index: 2;
  
}

.centerhe {
  
  z-index: 2;
  position: relative;
  
}

.berec {
  
  color: white;
  font-family: bold;
  
}

.playcol {
  
  color: white;
  font-family: bold;
  
}

.programma {
    
    display: flex;
    align-items: flex-end;
    
  }
  
  .programmb {
    
    display: flex;
    align-items: flex-start;
    
  }  
    
  
  .apple {
    
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
      
  }
  
  .google {
    
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
  }
  
  .insapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    
  }
  
  .writedown {
    
    margin-left: 4%; 
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
  }
  
  .appledown {
    
    font-family: regular;
    
  }
  
  .app {
    
    font-family: bold;
  }
  

  .insgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    
  }
  
  .writedowngoo {
    
    margin-left: 6%;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
  }
  
  .googledown {
    
    font-family: regular;
    
  }
  
  .goo {
    
    font-family: bold;
    
  }

   /* end header */

   .atlets {
     
    position: relative;
  
  
  }

    .headatl {
    
    color: #e7e7e7;
    font-family: bold;
  
  }

    .footbollerb {
    
     position: absolute;
  
  
}


  .titleconnect {
    
    display: flex;
    align-items: center;
  
   }

   .number {
    
    font-size: 1rem;
    font-family: bold;
    border-bottom: 5px #5e42b0 solid;
    
   }

   .connect {
     
    margin-left: 2%;
    font-family: bold;
       
    }

   .atlcontext {
      
    font-family: bold;  
  
    }

   .atlcollab {
    
    background-color: #f5f4f9;
    
  }

   .titlecollab {
    
    display: flex;
    align-items: center;
  
   }

   .collab {
     
    margin-left: 2%;
    font-family: bold;
       
    }

   .atlcolltext {
      
    font-family: bold;  
  
    }

    .atlgrowth {
  
    background-color: #5e42b0;
      
    }

    .titlegrowth {
    
    display: flex;
    align-items: center;
  
   }

   .grnumber {
    
    font-size: 1rem;
    font-family: bold;
    border-bottom: 5px white solid;
    
   }

   .growth {
     
    margin-left: 2%;
    font-family: bold;
    color: #c1c1c1;
       
    }

   .atlgrtext {
      
    font-family: bold;
    color: white;
  
    }

    /*end atlets*/

    .players {
     
    position: relative;
  
  
  }

    .headpl {
    
    color: #e7e7e7;
    font-size: 3.2rem;
    font-family: bold;
  
  }

    .basketboller {
    
     position: absolute;
  
  }


  .titleplconnect {
    
    display: flex;
    align-items: center;
  
   }

   .number {
    
    font-size: 1rem;
    font-family: bold;
    border-bottom: 5px #5e42b0 solid;
    
   }

   .plconnectit {
     
    font-family: bold;
    color: #c1c1c1;
    margin: 0 0 0 2%;
       
    }

   .plcontext {
      
    font-family: bold;  
  
    }

   .plcollab {
    
    background-color: #f5f4f9;
    padding-top: 15%;
    
  }

   .titleplcollab {
    
    display: flex;
    align-items: center;
  
   }

   .plcollabtit {
     
    font-family: bold;
    color: #c1c1c1;
    margin: 0 0 0 2%;
       
    }

   .plcolltext {
      
    font-family: bold;  
  
    }

    .plgrowth {
  
    background-color: #090c35;
     padding-top: 15%;
      
    }

    .plgrowthtit {
  
    font-family: bold;
    color: #c1c1c1;
    margin: 0 0 0 2%;
      
    }

    .titleplgrowth {
    
    display: flex;
    align-items: center;
  
   }

   .plgrnumber {
    
    font-size: 1rem;
    font-family: bold;
    color: #8765dd;
    border-bottom: 5px white solid;
    
   }

   .plgrowth {
     
    font-family: bold;
    color: #c1c1c1;
       
    }

   .plgrtext {
      
    font-family: bold;
    color: white;
  
    }

/*end players*/

.fotobl {
  
  position: relative;
  
}

img {
  
  display: block;
  width: 100%;
  
}

.pinkqurt {
    

    position: absolute;
    background-color: #5e42b0;
    display: flex;
    
  }

.fpinkqurt {
    

    position: absolute;
    background-color: #5e42b0;
    display: flex;
   
  }

.wpinkqurt {
    
    position: absolute;
    background-color: #5e42b0;
    display: flex;
   
  }
  
.fnumber {
    
    font-size: 1rem;
    font-family: bold;
    color: white;
    border-bottom: 5px #8f7bc8 solid;
    margin: auto;
    
  }

.fotocouch {
  
  position: relative;
  
}

.beamain {
  
  background-color: #ffffff;
  
}

.beact {
  
  color: #e7e7e7;
  font-family: bold;
  
}

.betx {
  
  font-family: regular;
  
}

.fototeam {
  
  position: relative;
  
}


.findmain {
  
  background-color: #ffffff;
  
}

.findcont {
  
  color: #e7e7e7;
  font-family: bold;
  
}

.findtx {
  
  font-family: regular;
  
}


.teammain {
  
  background-color: #ffffff;
  
}

.workit {
  
  color: #e7e7e7;
  font-family: bold;
  
}

.worktx {
  
  font-family: regular;
  
}

/*end fotos*/

.foot {
    
    position: relative;
    background-size: cover;
    padding-top: 15%;
  
}

.foot::after {
  
	content: "";
	background-color: #131637;
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  opacity: 0.9;
  
}

.ftber {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e42b0;
    box-shadow: 0 0 10px inset;
    border-radius: 25%;
    z-index: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
     
  }

.ftlogo {
    
  fill: white;
    
}

.footdiscenter {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.ftplay {
    
    color: white;
    z-index: 2;
    position: relative;
    font-family: bold;
      
  }

.ftshow {
    
    color: #9b8ec1;
    z-index: 2;
    font-family: regular;
    position: relative;
    
  }

.ftprogramma {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    
  }


.ftprogrammb {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    
  }  
    
  
  .ftapple {
   
    background-color: #5e42b0;
    border-radius: 25px;
    z-index: 2;
      
  }
  
  .ftgoogle {
    
    background-color: #5e42b0;
    border-radius: 25px;
    z-index: 2;
    
  }
  
  .ftinsapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5rem;
    
  }
  
  .ftwritedown {
    
    margin-left: 4%;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .ftappledown {
    
    font-family: regular;
    
  }
  
  .ftapp {
    
    font-family: bold;
  }
  

  .ftinsgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5rem;
  }
  
  .ftwritedowngoo {
    
    margin-left: 2%;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
  }
  
  .ftgoogledown {
    
    font-family: regular;
    
  }
  
  .ftgoo {
    
    font-family: bold;
    
  }
  
  
 .ftlogot {
  
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
   
}
  
  .ftsur {
  
  font-size: 1.5rem;
  font-family: bold;
  color: white;
  margin-left: 2%;
  z-index: 2;
  
}


@media (max-width: 639px) {
  
  .head {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
    
  }
  
  .headlogo {
  
  margin-left: auto;
    padding-top: 8%;
  
}
  
  .googlelogo {
    
   width: 2rem; 
    
  }
  
  .applelogo {
    
   width: 2rem;
    
  }
  
  .logo {
    
    width: 2rem;
    
    
  }
  
  .sur {
    
    margin-left: 2%;
    
  }
  
  .berec {
  
  padding-top: 18%;
  padding-left: 5%;
  font-size: 1.8rem;
  
}

  .playcol {
  
   padding-left: 20%;
   font-size: 1.8rem;
}
  
  .programma {
    
    padding-top: 15%;
    justify-content: center;
    
  }
  
  
  .programmb {
    
    margin-top: 5%;
    padding-bottom: 25%;
    justify-content: center;
  }  
    
  
  .apple {
    
    width: 280px;
    height: 35px;;
    border-radius: 25px;
    
  }
  
  .google {
    
    width: 280px;
    height: 35px;
    border-radius: 25px;
    
  }
  
  
  .headatl {
    
    margin-left: 5%;
    padding-bottom: 60%;
    font-size: 3.2rem;
  
  }
  
  .footbollerb {
    
    top: 7%;
    left: 20%;
    
  }
  
  .titleconnect {
    
    padding-top: 15%;
  
   }
  
  .atlconnect {
    
    background-color: #fafafa;
    padding-left: 5%;
    
  }
  
  .atlcontext {
    
    padding-bottom: 20%;
    padding-right: 10%;
    
  }
  
  .atlcollab {
    
    padding-top: 10%;
    padding-left: 5%;
    
  }
  
  .atlcolltext {
    
    padding-bottom: 20%;
    padding-right: 10%;
    
  }
  
  .atlgrowth {
    
    padding-top: 10%;
    padding-left: 5%;
      
    }
  
  .atlgrtext {
    
    padding-bottom: 20%;
    padding-right: 10%;
    
  }
  
  .headpl {
    
    margin-left: 5%;
    padding-bottom: 60%;
  
  }
  
  .basketboller {
    
    top: 10%;
    
  }
  
  .titleplconnect {
    
    padding-top: 15%;
  
   }
  
  .plconnect {
    
    background-color: #fafafa;
    padding-left: 5%;
    
  }
  
  .plcollab {
    
    padding-left: 5%;
    
  }
  
  .plgrowth {
  
    padding-left: 5%;
      
    }
  
  .plcontext {
    
    padding-bottom: 10%;
    padding-right: 10%;
    
  }
  .plcolltext {
    
    padding-bottom: 10%;
    padding-right: 10%;
    
  }
   .plgrtext {
    
    padding-bottom: 10%;
    padding-right: 10%;
    
  }
  
  .pinkqurt {
    
    left: 5%;
    top: 54%;
    height: 13.5vmax;
    width: 13.5vmax;
    
    
  }
  
  .fpinkqurt {
    
    left: 5%;
    top: 54%;
    height: 13.5vmax;
    width: 13.5vmax;
    
  }

   .wpinkqurt {
   
    left: 5%;
    top: 50%;
    height: 13.5vmax;
    width: 13.5vmax;
     
  }
  
  .beamain {
    
    padding-left: 5%;
    padding-top: 10%;
    
  }
  
  .findmain {
    
    padding-left: 5%;
    padding-top: 10%;
    
    
  }
  
  .teammain {
    
    padding-left: 5%;
    padding-top: 10%;
    
  }
  
  .betx {
    
    padding-bottom: 20%;
    
  }
  
  .findtx {
    
    padding-bottom: 20%;
    
  }
  
  .worktx {
    
    padding-bottom: 20%;
    
  }
  
  .foot {
    
   background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
      
  }
  
  .ftber {
    
    width: 76px;
    height: 76px;
    
  }
  
  .ftlogo {
    
    width: 3rem;
    
  }
  
  .ftplay {
    
    font-size: 2rem;
    padding-top: 10%;
      
  }

   .ftshow {
    
    font-size: 0.8rem;
    
  }
  
  .fortablef {
    
    padding-top: 25%;
  }
  
 


.ftprogrammb {
    
    margin-top: 5%;
    
  }  
    
  
  .ftapple {
    
    width: 280px;
    height: 35px;
      
  }
  
  .ftgoogle {
    
    width: 280px;
    height: 35px;
    
  }
  
  .ftinsapple {
    
    font-size: 0.5rem;
    
  }
  

  .ftinsgooogle {
    
    font-size: 0.5rem;
    
  }
  
  .ftlogot {
    
    margin-top: 20%;
    
  }
  
}

@media (min-width: 640px) and (max-width: 959px) {
  
  .head {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1280.jpg");
    background-position: center center;
    
  }
  
  .fortable {
    
    display: flex;
    
  }
  
  .logo {
    
    width: 3rem;
    
  }
  
  .googlelogo {
    
   width: 3.5rem; 
    
  }
  
  .applelogo {
    
    width: 3.5rem; 
    
  }
  
  .insapple {
    
    font-size: 1rem;
    
  }
  
  .insgooogle {
    
    font-size: 1rem;
    
  }
  
  .sur {
    
    margin-left: 1%;
    font-size: 2rem;
    
  }
  
  .berec {
    
    font-size: 4.5rem;
    padding: 20% 0 0 10%;
    margin: 0;
    
  }
  
  .playcol {
    
    font-size: 4.5rem;
    padding: 0 0 0 26%;
    margin: 0;
    
  }
  
  .programma {
    
    width: 50%;
    justify-content: flex-end;
    padding-right: 2.5%;
    padding-top: 25%;
    padding-bottom: 17%;
      
  }
  
  .programmb {
    
    width: 50%;
    justify-content: flex-start;
    padding-left: 2.5%;
    padding-top: 25%;
    padding-bottom: 17%;
      
  }
  
  .apple {
    
    width: 310px;
    height: 79px;
    border-radius: 50px;
    
    
  }
  
  .google {
    
    border-radius: 50px;
    width: 310px;
    height: 79px;
    
  }
  
  .headatl {
    
    margin: 0;
    padding: 5% 0 0 36%;
    font-size: 5rem;
    
  }
  
  .footbollerb {
    
    left: 0;
    top: 0;
    right: 35%;
    
  }
  
  .atlconnect {
    
    padding: 1% 5% 1% 36%;
    
  }
  
  .atlcollab {
    
    padding: 1% 5% 1% 36%;
    
  }
  
  .atlgrowth {
    
    padding: 1% 5% 1% 36%;
      
    }
  
  .headpl {
    
    margin: 0;
    padding: 2% 0 0 5%;
    font-size: 5rem;
    
  }
  
  .basketboller {
    
    right: 0;
    top: 0;
    
  }
  
  .plconnect {
    
    padding: 3.5% 40% 3.5% 5%;
    
  }
  
  .plcollab {
    
   padding: 3.5% 40% 3.5% 5%;
    
  }
  
  .plgrowth {
    
  padding: 3.5% 40% 3.5% 5%;
    
  }
  
  .plconnectit {
    
    font-size: 2rem;
    
  }
  
  .plcollabtit {
    
    font-size: 2rem;
    
  }
  
  .plgrowthtit {
    
    font-size: 2rem;
    
  }
  
  .beamain {
    
    padding: 10% 10% 10% 5%;
    
  }
  
  .beact {
    
    font-size: 5rem;
    margin: 0;
    
  }
  
  .betx {
    
    font-size: 1.6rem;
    
  }
  
  .findmain {
    
    padding: 10% 10% 10% 5%;
    
  }
  
  .findcont {
    
    font-size: 5rem;
    margin: 0;
    
  }
  
  .findtx {
    
    font-size: 1.6rem;
    
  }
  
  .teammain {
    
    padding: 10% 10% 10% 5%;
    
  }
  
  .workit {
    
    font-size: 5rem;
    margin: 0;
    
  }
  
  .worktx {
    
    font-size: 1.6rem;
  }
  
  .pinkqurt {
    
    top: 52%;
    left: 5%;
    height: 12vmax;
    width: 12vmax;
    
  }
  
  .fpinkqurt {
    
    top: 52%;
    left: 5%;
    height: 12vmax;
    width: 12vmax;
    
  }

   .wpinkqurt {
   
    top: 50%;
    left: 5%;
    height: 12vmax;
    width: 12vmax;
     
  }
  
  .fnumber {
    
    font-size: 1.5rem;
    
  }
  
  
  .foot {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_1280.jpg");
    
  }
  
  .ftber {
    
    width: 145px;
    height: 145px;
    
  }
  
  .ftlogo {
    
    width: 6rem;
    
  }
  
  .ftplay {
    
    font-size: 5rem;
    padding-top: 10%;
    
  }
  
  .ftshow {
    
    font-size: 2rem;
    
  }
  
  .fortablef {
    
    display: flex;
    padding-top: 35%;
    padding-bottom: 5%;
    
  }
  
  .ftprogramma {
    
    width: 50%;
    justify-content: flex-end;
    padding-right: 2.5%;
    
  }
  
  .ftprogrammb {
    
    width: 50%;
    justify-content: flex-start;
    padding-left: 2.5%;
      
  }
  
  .ftapple {
    
    width: 310px;
    height: 79px;
    border-radius: 50px;
    
    
  }
  
  .ftgoogle {
    
    border-radius: 50px;
    width: 310px;
    height: 79px;
    
  }
  
  .ftinsapple {
    
    font-size: 1rem;
    
  }
  
  .ftinsgooogle {
    
    font-size: 1rem;
    
  }

}

 @media (min-width: 960px)  {
   
   .head {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg");
    
  }
   
   .fortable {
    
    display: flex;
    
  }
  
  .logo {
    
    width: 3rem;
    
  }
  
  .googlelogo {
    
   width: 3.5rem; 
    
  }
  
  .applelogo {
    
    width: 3.5rem; 
    
  }
  
  .insapple {
    
    font-size: 1rem;
    
  }
  
  .insgooogle {
    
    font-size: 1rem;
    
  }
  
  .sur {
    
    margin-left: 1%;
    font-size: 2rem;
    
  }
  
  .berec {
    
    font-size: 5.6rem;
    padding: 7% 0 0 12%;
    margin: 0;
    
  }
  
  .playcol {
    
    font-size: 5.6rem;
    padding: 0 0 0 33%;
    margin: 0;
    
  }
  
  .programma {
    
    width: 50%;
    justify-content: flex-end;
    padding-right: 2.5%;
    padding-top: 10%;
    padding-bottom: 8%;
      
  }
  
  .programmb {
    
    width: 50%;
    justify-content: flex-start;
    padding-left: 2.5%;
    padding-top: 10%;
    padding-bottom: 8%;
      
  }
  
  .apple {
    
    width: 310px;
    height: 79px;
    border-radius: 50px;
    
    
  }
  
  .google {
    
    border-radius: 50px;
    width: 310px;
    height: 79px;
    
  }
  
  .headatl {
    
    margin: 0;
    padding: 5% 0 0 53%;
    font-size: 5rem;
    
  }
  
  .footbollerb {
    
    margin-left: 5%;
    top: 0;
    
  }
  
  .atlconnect {
    
    padding: 3.5% 5% 3.5% 53%;
    
  }
  
  .atlcollab {
    
    padding: 3.5% 5% 3.5% 53%;
    
  }
  
  .atlgrowth {
    
    padding: 3.5% 5% 3.5% 53%;
      
    }
  
  .headpl {
    
    margin: 0;
    padding: 2% 0 0 5%;
    font-size: 5rem;
    
  }
  
  .basketboller {
    
    right: 0;
    top: 0;
    width: 60%;
    
  }
  
  .plconnect {
    
    padding: 3.5% 60% 3.5% 5%;
    
  }
  
  .plcollab {
    
    padding: 3.5% 50% 3.5% 5%;
    
  }
  
  .plgrowth {
    
    padding: 3.5% 50% 3.5% 5%;
    
  }
  
  .plconnectit {
    
    font-size: 2rem;
    
  }
  
  .plcollabtit {
    
    font-size: 2rem;
    
  }
  
  .plgrowthtit {
    
    font-size: 2rem;
    
  }
   
   .fotobl {
     
     display: flex;
     
   }
   
   .imgmanph {
     
     width: 50%;
     
   }
   
   .beamain {
    
    padding: 10% 10% 5% 8%;
    box-sizing: border-box;
    width: 50%;
    
  }
  
  .beact {
    
    font-size: 5rem;
    margin: 0;
    
  }
  
  .betx {
    
    font-size: 1.5rem;
    
  }
   
   .fotocouch {
     
     display: flex;
     flex-direction: row-reverse;
     
   }
   
   .imgcouch {
     
     width: 50%;
     
   }
  
  .findmain {
    
    padding: 10% 2% 3% 5%;
    box-sizing: border-box;
    width: 50%;
    
  }
  
  .findcont {
    
    font-size: 5rem;
    margin: 0;
    
  }
  
  .findtx {
    
    font-size: 1.5rem;
    
  }
   
   .fototeam {
     
     display: flex;
     
   }
  
  .teammain {
    
    padding: 10% 10% 5% 8%;
    width: 50%;
    box-sizing: border-box;
    
  }
   
   .imgteam {
     
     width: 50%;
     
   }
  
  .workit {
    
    font-size: 5rem;
    margin: 0;
    
  }
  
  .worktx {
    
    font-size: 1.5rem;
    padding-right: 10%;
    
  }
   
   .pinkqurt {
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 8vmax;
    width: 8vmax;
    
  }
  
  .fpinkqurt {
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 8vmax;
    width: 8vmax;
    
  }

   .wpinkqurt {
   
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 8vmax;
    width: 8vmax;
     
  }
  
   
   .foot {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_1920.jpg");
    
  }
   
   .footrow {
     
     display: flex;
    
   }
   
   
   .footdiscenter {
    
      margin-right: auto;
      margin-left: 2%;
      align-items: flex-start;
  
   }
   
   .ftber {
    
    width: 145px;
    height: 145px;
    margin-right: 0;
    
  }
  
  .ftlogo {
    
    width: 6rem;
    
  }
  
  .ftplay {
    
    font-size: 5rem;
    
  }
  
  .ftshow {
    
    font-size: 2rem;
    
  }
  
  .fortablef {
    
    display: flex;
    padding-top: 10%;
    padding-bottom: 13%;
    
  }
  
  .ftprogramma {
    
    width: 50%;
    justify-content: flex-end;
    padding-right: 2.5%;
    
  }
  
  .ftprogrammb {
    
    width: 50%;
    justify-content: flex-start;
    padding-left: 2.5%;
      
  }
  
  .ftapple {
    
    width: 310px;
    height: 79px;
    border-radius: 50px;
    
    
  }
  
  .ftgoogle {
    
    border-radius: 50px;
    width: 310px;
    height: 79px;
    
  }
  
  .ftinsapple {
    
    font-size: 1rem;
    
  }
  
  .ftinsgooogle {
    
    font-size: 1rem;
    
  }
   
   .ftsur {
     
     margin-left: 0.5%;
     
   }


}
  

 
  
  
 
  