@font-face {
  
  font-family: "bold"; 
    src: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/fonts/OpenSans-Bold.woff);
   }

@font-face {
  
  font-family: "regular";
  src: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/fonts/OpenSans-Regular.woff);
    
}

/* ОБЩИЕ СТИЛИ */

.head::after {
  
	content: "";
	background-color: #131637;
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  opacity: 0.9;
  
}

.foot::after {
  
	content: "";
	background-color: #131637;
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  opacity: 0.9;
  
}

.head {
    
    position: relative;
    background-size: cover;
    
  }

.logo {
    
  fill: white;
  width: 3rem;
    
}

.applelogo {
    
    fill: white;
    width: 1.8rem;

  }
  
  .googlelogo {
    
    fill: white;
    width: 1.5rem;

  }


@media (min-width: 1920px) {
  
   html {
    
    font-size: 20px;
  }
  
  .head {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg");
    width: 100vmax;
    height: 100vmin;
    background-position: center center;
    
  }
  
 .sur {
  
  font-size: 1.5rem;
  font-family: bold;
  color: white;
  margin-left: 2%;
  
}

  .forlog {
    
   display: flex;
   justify-content: center;
   z-index: 4;
   height: 10%;
    
  }
  
 .logot {
  
  display: flex;
  align-items: center;
  z-index: 3;
  
}
  
  .centerheadbe {
    
    display: flex;
    height: 33%;
    align-items: flex-end;
     
  }
  
  .ber {
    
    color: white;
    z-index: 2;
    margin-left: 15%;
    font-size: 4.5rem;
    font-family: bold;
    
  }
  
  .centerheadplay {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 35%;
       
  }
  
  .play {
    
    color: white;
    z-index: 2;
    font-size: 4.5rem;
    font-family: bold;
    margin-left: 20%;
    
  }
  
  .fortable {
    
    height: 15%;
    display: flex;
    align-items: flex-start;
  }
  
  .programma {
    
    display: flex;
    padding-right: 2%;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }
  
  .programmb {
    
    display: flex;
    padding-left: 2%;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }  
    
  
  .apple {
    
    width: 32%;
    height: 8vmin;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  
  .google {
    
    width: 32%;
    height: 8vmin;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .applelogo {
    
    fill: white;
    width: 3.8rem;
    margin-right: 9%;

  }
  
  .googlelogo {
    
    fill: white;
    width: 3.8rem;
    margin-right: 9%;

  }
  
  .insapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
    
  }
  
  .writedown {
    
    margin-left: 4%;
    flex: none;
    
  }
  
  .appledown {
    
    font-family: regular;
    
  }
  
  .app {
    
    font-family: bold;
  }
  

  .insgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
  }
  
  .writedowngoo {
    
    margin-left: 6%;
    flex: none;
    
  }
  
  .googledown {
    
    font-family: regular;
    
  }
  
  .goo {
    
    font-family: bold;
    
  }
  
  /* end header desktop */
  
  .atlets {
    
    width: 100vmax;
    height: 82vmin;
    position: relative;
    
  }
  
  .footbollerb {
    
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_566.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    right: 12%;
    
  }
  
  .headtit {
    
    display: flex;
    align-items: flex-end;
    height: 19%;
    background-color: white;
    
  }
 
  .title {
    
    margin-left: 52%;
    font-size: 4rem;
    font-family: bold;
    color: #e7e7e7;
     
  }
  
  .footarticle { 
    
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;    
  }
  
  
  .description {
    
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  } 
  
  .titledis {
    
    display: flex;
    align-items: center;
    margin-left: 52%;
    
  }
  
  .number {
    
    font-size: 1rem;
    font-family: bold;
    border-bottom: 5px #5e42b0 solid;
    
  }
  
  .titlemain {
    
    font-family: bold;
    font-size: 1.8rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .maindis {
    
    height: 9%;
    box-sizing: border-box;
    padding-right: 7%;
    background-color: white;
    font-family: regular;
    font-size: 0.85rem;
    padding-left: 52%;
    
  }
  
  .collab {
    
    height: 10%;
    padding-left: 52%;
    display: flex;
    background-color: #f5f4f9; 
    
  }
  
  .colltitle {
    
    display: flex;
    align-items: center;
    
  }
  
  .titlemaincoll {
    
    font-family: bold;
    font-size: 1.8rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .collmaintext {
    
    height: 14%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 52%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .growth {
    
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-color: #5e42b0;
    padding-left: 52%;
    
  }
  
  .grtitle {
    
    display: flex;
    align-items: center;
      
  }
  
  .grnumber {
    
    top: 10%;
    font-size: 1rem;
    font-family: bold;
    color: black;
    border-bottom: 5px white solid;
    
  }
  
  .grtitlemaincoll {
    
    top: 10%;
    font-family: bold;
    font-size: 1.8rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .growmaintext {
    
    box-sizing: border-box;
    height: 10%;
    background-color: #5e42b0;
    padding-left: 52%;
    padding-right: 7%;
    font-family: regular;
    color: white;
    font-size: 1rem;
  }
  
  /* end atlets desktop */ 
  
  .players {
    
    height: 73vmin;
    width: 100vmax;
    position: relative;
    
  }
  
  .basketarticle { 
    
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
      
  }
  
  .basketable {
    
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/basketballer_991.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    left: 15%;
    
  }
  
  .bheadtit {
    
    display: flex;
    align-items: flex-end;
    height: 19.8%;
    background-color: white;
    
  }
 
  .btitle {
    
    margin-left: 4%;
    font-size: 4rem;
    font-family: bold;
    color: #e7e7e7;
    
    
  }
  
  .btitledis {
    
    display: flex;
    align-items: center;
    margin-left: 4%;
    
  }
  
  .plmaindis {
    
    height: 19%;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 7%;
    background-color: white;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .plmaintext {
    
    width: 40%;
    
  }
  
  .plcollab {
    
    height: 10%;
    display: flex;
    background-color: #f5f4f9;
    padding-left: 4%;
    
  }
  
  .plcollmaintext {
    
    height: 14%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 4%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .plcolltx {
    
    width: 60%;
    
  }
  
  .plgrowth {
    
    height: 12%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-color: #090c35;
    padding-left: 4%;
    
  }
  
  .plgrnumber {
    
    top: 10%;
    font-size: 1rem;
    font-family: bold;
    color: #8765dd;
    border-bottom: 5px white solid;
    
  }
  
  .plgrowmaintext {
    
    box-sizing: border-box;
    height: 12%;
    background-color: #090c35;
    padding-left: 4%;
    padding-bottom: 5%;
    font-family: regular;
    color: white;
    font-size: 1rem;
    
  }
  
  .plgrowtx {
    
    width: 60%;
    
  }
  
  /* end players desktop */
  
   .fotos {
    
    width: 100vmax;
    height: 240vmin;
    
  }
  
  .fotobl {
    
    height: 33.3%;
    position: relative;
    display: flex;
    
  }
  
  .imgbl {
    
    height: 100%;
    width: 50%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_1024.jpg");
    background-size: cover;
    background-position: right;
    
  }
  
  .bltx {
    
    width: 50%;
  }
  
  .pinkqurt {
    
    height: 9vmax;
    width: 9vmax;
    position: absolute;
    left: 45%;
    top: 26%;
    background-color: #5e42b0;
    display: flex;
  
  }
  
  .fnumber {
    
    font-size: 1.2rem;
    font-family: bold;
    color: white;
    border-bottom: 5px #8f7bc8 solid;
    margin: auto;
    
  }
  
  .blcollab {
    
    height: 40%;
    display: flex;
    padding-left: 13.3%;
    background-color: #f5f4f9; 
    
  }
  
  .blcolltitle {
    
    display: flex;
    align-items: flex-end;
    
  }
  
  .bltitlemaincoll {
    
    font-family: bold;
    font-size: 4rem;
    color: #d0d0d0;
    
  }
  
  .blcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 13.3%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1.2rem;
    
  }
  
  .fototw {
    
    height: 33.3%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    
  }
  
  .imgtw {
    
    height: 100%;
    width: 50%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_960.jpg");
  background-size: cover;
    
  }
  
  .twcolltx {
    
    width: 50%;
    
  }
  
  .twcollab {
    
    height: 40%;
    display: flex;
    background-color: #f5f4f9;
    padding-left: 13.3%
    
  }
  
  .twcolltitle {
    
    display: flex;
    align-items: flex-end;
    
  }
  
  .twtitlemaincoll {
    
    font-family: bold;
    font-size: 4rem;
    color: #d0d0d0;
    
  }
  
  .twcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 13.3%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 7%;
    font-family: regular;
    font-size: 1.2rem;
    
  }
  
  .fotomb {
    
    height: 33.3%;
    position: relative;
    display: flex;
    
  }
  
  .imgmb {
    
    height: 100%;
    width: 50%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_960.jpg");
  background-size: cover;
    
  }
  
  .mbcolltx {
    
    width: 50%;
    
  }
  
  .mbcollab {
    
    height: 40%;
    display: flex;
    background-color: #f5f4f9;
    padding-left: 13.3%;
    
  }
  
  .mbcolltitle {
    
    display: flex;
    align-items: flex-end;
    
  }
  
  .mbtitlemaincoll {
    
    font-family: regular;
    font-size: 4rem;
    color: #d0d0d0;
    
  }
  
  .mbcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 13.3%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1.2rem;
    
  }
  
  /* end fotos desktop */
  
  .foot {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_1920.jpg");
    position: relative;
    background-size: cover;
    width: 100vmax;
    height: 100vmin;
    
  }
  
  .footrow {
    
    display: flex;
    height: 40%;
    align-items: flex-end;
    justify-content: center;
    
  }
  
  .footdiscenter {
    
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 2%;
    
  }
  
  
  .ftcenterheadbe {
    
    display: flex;
    width: 40%;
    align-items: flex-end;
    justify-content: flex-end;
     
  }
  
  .ftber {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vmax;
    height: 8vmax;
    background-color: #7453d3;
    box-shadow: 0 -20px 100px inset;
    border-radius: 20px;
    z-index: 2;
     
  }
  
  .ftlogo {
    
  fill: white;
  width: 3rem;
    
}
  
  .ftcenterheadplay {
    
    display: flex;
    flex-direction: column;
    height: 32%;
       
  }
  
  .ftplay {
    
    height: 50%%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
       
  }
  
  .downlapp {
    
    font-size: 4rem;
    color: white;
    z-index: 2;
    font-family: bold;
      
  }
  
  .ftshow {
    
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
  }
  
  .showever {
    
    font-size: 1.5rem;
    color: #9b8ec1;
    z-index: 2;
    font-family: regular;
    
  }
  
  .fortablef {
    
    display: flex;
    height: 40%;
    align-items: flex-end;
    
  }
  
  .ftprogramma {
    
    display: flex;
    padding-right: 2%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }
  
  .ftprogrammb {
    
    display: flex;
    padding-left: 2%;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }  
    
  
  .ftapple {
    
    width: 32%;
    height: 8vmin;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  
  .ftgoogle {
    
    width: 32%;
    height: 8vmin;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .ftinsapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
    
  }
  
  .ftwritedown {
    
    margin-left: 4%;
    flex: none;
    
  }
  
  .ftappledown {
    
    font-family: regular;
    
  }
  
  .ftapp {
    
    font-family: bold;
  }
  

  .ftinsgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
  }
  
  .ftwritedowngoo {
    
    margin-left: 6%;
    flex: none;
    
  }
  
  .ftgoogledown {
    
    font-family: regular;
    
  }
  
  .ftgoo {
    
    font-family: bold;
    
  }
  
  .ftforlog {
    
   display: flex;
   justify-content: center;
   height: 18%;
   align-items: flex-end;
  }
  
 .ftlogot {
  
  display: flex;
  align-items: center;
  z-index: 3;
  
}
  
  .ftsur {
  
  font-size: 1.5rem;
  font-family: bold;
  color: white;
  margin-left: 2%;
  
}
  
  
}

@media (min-width:768px) and (max-width: 1919px) {
  
  html {
    
    font-size: 18px;
  }
  
  .head {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1280.jpg");
    height: 100vmax;
    background-position: center center;
    
  }
  
 .sur {
  
  font-size: 1.5rem;
  font-family: bold;
  color: white;
  margin-left: 2%;
  
}

  .forlog {
    
   display: flex;
   justify-content: center;
   z-index: 4;
   height: 7%;
    
  }
  
 .logot {
  
  display: flex;
  align-items: center;
  padding-top: 10%;
  z-index: 3;
  
}
  
  .centerheadbe {
    
    display: flex;
    height: 28%;
    align-items: flex-end;
     
  }
  
  .ber {
    
    color: white;
    z-index: 2;
    margin-left: 11%;
    font-size: 4rem;
    font-family: bold;
    
  }
  
  .centerheadplay {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20%;
       
  }
  
  .play {
    
    color: white;
    z-index: 2;
    font-size: 4rem;
    font-family: bold;
    margin-left: 25%;
    
  }
  
  .fortable {
    
    height: 45%;
    display: flex;
  }
  
  .programma {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }
  
  .programmb {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }  
    
  
  .apple {
    
    width: 82%;
    height: 9vmax;
    margin-bottom: 30%;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  
  .google {
    
    width: 82%;
    height: 9vmax;
    margin-bottom: 30%;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .applelogo {
    
    fill: white;
    width: 5rem;
    margin-right: 10%;

  }
  
  .googlelogo {
    
    fill: white;
    width: 5rem;
    margin-right: 10%;

  }
  
  .insapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    
  }
  
  .writedown {
    
    margin-left: 4%;
    flex: none;
    
  }
  
  .appledown {
    
    font-family: regular;
    
  }
  
  .app {
    
    font-family: bold;
  }
  

  .insgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
  }
  
  .writedowngoo {
    
    margin-left: 6%;
    flex: none;
    
  }
  
  .googledown {
    
    font-family: regular;
    
  }
  
  .goo {
    
    font-family: bold;
    
  }
  
  /* end header tablets */
  
  .atlets {
    
    height: 82vmax;
    position: relative;
    
  }
  
  .footbollerb {
    
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_497.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 90%;
    height: 90%;
    right: 48%;
    top: 8%;
    
  }
  
  .headtit {
    
    display: flex;
    align-items: flex-end;
    height: 19%;
    background-color: #fafafa;
    
  }
 
  .title {
    
    margin-left: 38%;
    font-size: 3.5rem;
    font-family: bold;
    color: #e7e7e7;
     
  }
  
  .footarticle { 
    
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;    
  }
  
  
  .description {
    
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  } 
  
  .titledis {
    
    display: flex;
    align-items: center;
    margin-left: 38%;
    
  }
  
  .number {
    
    font-size: 1rem;
    font-family: bold;
    border-bottom: 5px #5e42b0 solid;
    
  }
  
  .titlemain {
    
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .maindis {
    
    height: 13%;
    box-sizing: border-box;
    padding-top: 7%;
    padding-bottom: 14%;
    padding-right: 7%;
    background-color: #fafafa;
    font-family: bold;
    font-size: 0.85rem;
    padding-left: 38%;
    
  }
  
  .collab {
    
    height: 10%;
    padding-left: 38%;
    display: flex;
    background-color: #f5f4f9; 
    
  }
  
  .colltitle {
    
    display: flex;
    align-items: center;
    
  }
  
  .titlemaincoll {
    
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .collmaintext {
    
    height: 19%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 38%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: bold;
    font-size: 0.85rem;
    
  }
  
  .growth {
    
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-color: #5e42b0;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 38%;
    
  }
  
  .grtitle {
    
    display: flex;
    align-items: center;
      
  }
  
  .grnumber {
    
    top: 10%;
    font-size: 1rem;
    font-family: bold;
    color: black;
    border-bottom: 5px white solid;
    
  }
  
  .grtitlemaincoll {
    
    top: 10%;
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .growmaintext {
    
    box-sizing: border-box;
    height: 10%;
    background-color: #5e42b0;
    padding-left: 38%;
    padding-right: 7%;
    padding-bottom: 7%;
    font-family: bold;
    color: white;
    font-size: 0.85rem;
  }
  
  /* end atlets tablets */
  
  .players {
    
    height: 73vmax;
    position: relative;
    
  }
  
  .basketarticle { 
    
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
      
  }
  
  .basketable {
    
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/basketballer_436.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 78%;
    height: 78%;
    top: 7%;
    left: 40%;
    
  }
  
  .bheadtit {
    
    display: flex;
    align-items: flex-end;
    height: 19.8%;
    background-color: #fafafa;
    
  }
 
  .btitle {
    
    margin-left: 4%;
    font-size: 3.5rem;
    font-family: bold;
    color: #e7e7e7;
    
    
  }
  
  .btitledis {
    
    display: flex;
    align-items: center;
    margin-left: 4%;
    
  }
  
  .plmaindis {
    
    height: 19%;
    box-sizing: border-box;
    padding-left: 4%;
    padding-top: 7%;
    padding-bottom: 14%;
    padding-right: 7%;
    background-color: #fafafa;
    font-family: bold;
    font-size: 0.85rem;
    
  }
  
  .plmaintext {
    
    width: 60%;
    
  }
  
  .plcollab {
    
    height: 10%;
    display: flex;
    background-color: #f5f4f9;
    padding-left: 4%;
    
  }
  
  .plcollmaintext {
    
    height: 14%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 4%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: bold;
    font-size: 0.85rem;
    
  }
  
  .plcolltx {
    
    width: 60%;
    
  }
  
  .plgrowth {
    
    height: 12%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-color: #090c35;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 4%;
    
  }
  
  .plgrnumber {
    
    top: 10%;
    font-size: 1rem;
    font-family: bold;
    color: #8765dd;
    border-bottom: 5px white solid;
    
  }
  
  .plgrowmaintext {
    
    box-sizing: border-box;
    height: 12%;
    background-color: #090c35;
    padding-left: 4%;
    padding-right: 7%;
    padding-bottom: 7%;
    font-family: bold;
    color: white;
    font-size: 0.85rem;
    
  }
  
  .plgrowtx {
    
    width: 60%;
    
  }
  
  /* END players tablets */
  
  .fotos {
    
    height: 260vmax;
    
  }
  
  .fotobl {
    
    height: 33.3%;
    position: relative;
    
  }
  
  .imgbl {
    
    height: 60%;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_960.jpg");
  background-size: cover;
    
  }
  
  .bltx {
    
    height: 40%;
    
  }
  
  .pinkqurt {
    
    height: 13.5vmax;
    width: 13.5vmax;
    position: absolute;
    left: 6.25%;
    top: 50%;
    background-color: #5e42b0;
    display: flex;
  
  }
  
  .fnumber {
    
    font-size: 2rem;
    font-family: bold;
    color: white;
    border-bottom: 5px #8f7bc8 solid;
    margin: auto;
    
  }
  
  .blcollab {
    
    height: 40%;
    display: flex;
    padding-left: 6.25%;
    background-color: #f5f4f9; 
    
  }
  
  .blcolltitle {
    
    display: flex;
    align-items: flex-end;
    
  }
  
  .bltitlemaincoll {
    
    font-family: bold;
    font-size: 3rem;
    color: #d0d0d0;
    
  }
  
  .blcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 6.25%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1.5rem;
    
  }
  
  .fototw {
    
    height: 33.3%;
    position: relative;
    
  }
  
  .imgtw {
    
    height: 60%;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_960.jpg");
  background-size: cover;
    
  }
  
  .twcolltx {
    
    height: 40%;
  }
  
  .twcollab {
    
    height: 40%;
    display: flex;
    background-color: #f5f4f9;
    padding-left: 6.25%
    
  }
  
  .twcolltitle {
    
    display: flex;
    align-items: flex-end;
    
  }
  
  .twtitlemaincoll {
    
    font-family: bold;
    font-size: 3rem;
    color: #d0d0d0;
    
  }
  
  .twcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 6.25%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1.5rem;
    
  }
  
  .fotomb {
    
    height: 33.3%;
    position: relative;
    
  }
  
  .imgmb {
    
    height: 60%;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_960.jpg");
  background-size: cover;
    
  }
  
  .mbcolltx {
    
    height: 40%;
  }
  
  .mbcollab {
    
    height: 40%;
    display: flex;
    background-color: #f5f4f9;
    padding-left: 6.25%;
    
  }
  
  .mbcolltitle {
    
    display: flex;
    align-items: flex-end;
    
  }
  
  .mbtitlemaincoll {
    
    font-family: bold;
    font-size: 3rem;
    color: #d0d0d0;
    
  }
  
  .mbcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 6.25%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1.5rem;
    
  }
  
  /*end fotos tablets */
  
  .foot {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
    position: relative;
    background-size: cover;
    height: 100vmax;
    
  }
  
  .footrow {
    
    height: 60%;
  }
  
  
  .ftcenterheadbe {
    
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
     
  }
  
  .ftber {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vmax;
    height: 12vmax;
    background-color: #7453d3;
    box-shadow: 0 -20px 100px inset;
    border-radius: 20px;
    z-index: 2;
     
  }
  
  .ftlogo {
    
  fill: white;
  width: 3rem;
    
}
  
  .ftcenterheadplay {
    
    display: flex;
    flex-direction: column;
    height: 32%;
       
  }
  
  .ftplay {
    
    height: 14%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
       
  }
  
  .downlapp {
    
    font-size: 4rem;
    color: white;
    z-index: 2;
    font-family: bold;
      
  }
  
  .ftshow {
    
    height: 18%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
  }
  
  .showever {
    
    font-size: 2rem;
    color: #9b8ec1;
    z-index: 2;
    font-family: regular;
    
  }
  
  .fortablef {
    
    display: flex;
    height: 22%;
    align-items: flex-end;
    
  }
  
  .ftprogramma {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }
  
  .ftprogrammb {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 50%;
    z-index: 2;
    
  }  
    
  
  .ftapple {
    
    width: 82%;
    height: 9vmax;
    margin-bottom: 30%;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  
  .ftgoogle {
    
    width: 82%;
    height: 9vmax;
    margin-bottom: 30%;
    background-color: #5e42b0;
    border-radius: 35px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .ftinsapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    
  }
  
  .ftwritedown {
    
    margin-left: 4%;
    flex: none;
    
  }
  
  .ftappledown {
    
    font-family: regular;
    
  }
  
  .ftapp {
    
    font-family: bold;
  }
  

  .ftinsgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
  }
  
  .ftwritedowngoo {
    
    margin-left: 6%;
    flex: none;
    
  }
  
  .ftgoogledown {
    
    font-family: regular;
    
  }
  
  .ftgoo {
    
    font-family: bold;
    
  }
  
  .ftforlog {
    
   display: flex;
   justify-content: center;
   height: 18%;
   align-items: flex-end;
  }
  
 .ftlogot {
  
  display: flex;
  align-items: center;
  z-index: 3;
  
}
  
  .ftsur {
  
  font-size: 1.5rem;
  font-family: bold;
  color: white;
  margin-left: 2%;
  
}
  
}


@media (min-width:320px) and (max-width:767px) {
  
  
  html {
  
  font-family: 10px;
  
}
  
  .head {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
    position: relative;
    background-size: cover;
    height: 118vmax;
    
  }
  
  .logo {
    
  fill: white;
  width: 3rem;
    
}
  
  .applelogo {
    
    fill: white;
    width: 1.8rem;

  }
  
  .googlelogo {
    
    fill: white;
    width: 1.5rem;

  }

 .sur {
  
  font-size: 1.5rem;
  font-family: bold;
  color: white;
  margin-left: 2%;
  
}

  .forlog {
    
   display: flex;
   justify-content: center;
   height: 15%;
    
  }
  
 .logot {
  
  display: flex;
  align-items: center;
  padding-top: 10%;
  z-index: 3;
  
}
  
  .centerheadbe {
    
    display: flex;
    height: 25%;
    align-items: flex-end;
     
  }
  
  .ber {
    
    color: white;
    z-index: 2;
    margin-left: 6%;
    font-size: 2rem;
    font-family: bold;
    
  }
  
  .centerheadplay {
    
    display: flex;
    padding-top: 5%;
    justify-content: center;
    height: 10%;
       
  }
  
  .play {
    
    color: white;
    z-index: 2;
    margin-left: 5%;
    font-size: 2rem;
    font-family: bold;
    margin-left: 20%;
    
  }
  
  .fortable {
    
    height: 50%;
    
  }
  
  .programma {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    z-index: 2;
    
  }
  
  .programmb {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    height: 50%;
    z-index: 2;
    
  }  
    
  
  .apple {
    
    width: 80%;
    height: 7.3vmax;
    background-color: #5e42b0;
    border-radius: 25px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  
  .google {
    
    width: 80%;
    height: 7.3vmax;
    background-color: #5e42b0;
    border-radius: 25px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .insapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5rem;
    
  }
  
  .writedown {
    
    margin-left: 4%;
    flex: none;
    
  }
  
  .appledown {
    
    font-family: regular;
    
  }
  
  .app {
    
    font-family: bold;
  }
  

  .insgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5rem;
  }
  
  .writedowngoo {
    
    margin-left: 6%;
    flex: none;
    
  }
  
  .googledown {
    
    font-family: regular;
    
  }
  
  .goo {
    
    font-family: bold;
    
  }
  
  /* end header phone */
  
  .main {
    display: flex;
    flex-direction: column;
  }
  
  .atlets {
    
    height: 210vmax;
    
  }
  
  .footbollerb {
    
    display: none;
  }
  
  .headtit {
    
    display: flex;
    align-items: center;
    height: 7%;
    
  }
 
  .title {
    
    margin-left: 6%;
    font-size: 3.5rem;
    font-family: bold;
    color: #e7e7e7;
    
  }
  
  .footarticle { 
    
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
      
  }
  
  .footboller {
    
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_192.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 85%;
    top: 0;
    
  }
  
  
  
  .description {
    
    height: 30%;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  } 
  
  .titledis {
    
    display: flex;
    align-items: center;
    padding-left: 7%;
    
  }
  
  .number {
    
    font-size: 1rem;
    font-family: bold;
    border-bottom: 5px #5e42b0 solid;
    
  }
  
  .titlemain {
    
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .maindis {
    
    height: 13%;
    box-sizing: border-box;
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 14%;
    padding-right: 7%;
    background-color: #fafafa;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .collab {
    
    height: 10%;
    display: flex;
    background-color: #f5f4f9; 
    
  }
  
  .colltitle {
    
    display: flex;
    align-items: center;
    padding-left: 6%;
    
  }
  
  .titlemaincoll {
    
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .collmaintext {
    
    height: 19%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 6%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .growth {
    
    height: 8%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-color: #5e42b0;
    padding-bottom: 3%;
    
  }
  
  .grtitle {
    
    display: flex;
    align-items: center;
    padding-left: 7%;
    
  }
  
  .grnumber {
    
    top: 10%;
    font-size: 1rem;
    font-family: bold;
    color: black;
    border-bottom: 5px white solid;
    
  }
  
  .grtitlemaincoll {
    
    top: 10%;
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 5%;
    color: #d0d0d0;
    
  }
  
  .growmaintext {
    
    box-sizing: border-box;
    height: 12%;
    background-color: #5e42b0;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
    font-family: regular;
    color: white;
    font-size: 1rem;
  }
  
  /* end atlets phone */
  
  .players {
    
    height: 193vmax;
    
  }
  
  .basketarticle { 
    
    height: 37%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
      
  }
  
  .basketboller {
    
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/basketballer_302.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 73%;
    top: 0;
    
  }
  
  .bheadtit {
    
    display: flex;
    align-items: center;
    height: 7%;
    
  }
 
  .btitle {
    
    margin-left: 6%;
    font-size: 3.5rem;
    font-family: bold;
    color: #e7e7e7;
    
  }
  
  .btitledis {
    
    display: flex;
    align-items: center;
    padding-left: 7%;
    
  }
  
  
  .plmaindis {
    
    height: 18%;
    box-sizing: border-box;
    padding-left: 6%;
    padding-top: 7%;
    padding-bottom: 14%;
    padding-right: 7%;
    background-color: #fafafa;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .plcollab {
    
    height: 10%;
    display: flex;
    background-color: #f5f4f9; 
    
  }
  
  .plcollmaintext {
    
    height: 10%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 7%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .plgrowth {
    
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-color: #090c35;
    padding-top: 5%;
    padding-bottom: 3%;
    
  }
  
  .plgrnumber {
    
    top: 10%;
    font-size: 1rem;
    font-family: bold;
    color: #8765dd;
    border-bottom: 5px white solid;
    
  }
  
  .plgrowmaintext {
    
    box-sizing: border-box;
    height: 8%;
    background-color: #090c35;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
    font-family: regular;
    color: white;
    font-size: 1rem;
    
  }
  
  .fotos {
    
    height: 351vmax;
    
  }
  
  .fotobl {
    
    height: 33.3%;
    position: relative;
    
  }
  
  .imgbl {
    
    height: 60%;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_640.jpg");
  background-size: cover;
    
  }
  
  .bltx {
    
    height: 40%;
    
  }
  
  .pinkqurt {
    
    height: 13.5vmax;
    width: 13.5vmax;
    position: absolute;
    left: 6.25%;
    top: 50%;
    background-color: #5e42b0;
    display: flex;
  
  }
  
  .fnumber {
    
    font-size: 1rem;
    font-family: bold;
    color: white;
    border-bottom: 5px #8f7bc8 solid;
    margin: auto;
    
  }
  
  .blcollab {
    
    height: 40%;
    display: flex;
    background-color: #f5f4f9; 
    
  }
  
  .blcolltitle {
    
    display: flex;
    align-items: center;
    
  }
  
  .bltitlemaincoll {
    
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 6vmin;
    color: #d0d0d0;
    
  }
  
  .blcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .fototw {
    
    height: 33.3%;
    position: relative;
    
  }
  
  .imgtw {
    
    height: 60%;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_640.jpg");
  background-size: cover;
    
  }
  
  .twcolltx {
    
    height: 40%;
    
  }
  
  .twcollab {
    
    height: 40%;
    display: flex;
    background-color: #f5f4f9; 
    
  }
  
  .twcolltitle {
    
    display: flex;
    align-items: center;
    
  }
  
  .twtitlemaincoll {
    
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 6vmin;
    color: #d0d0d0;
    
  }
  
  .twcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .fotomb {
    
    height: 33.3%;
    position: relative;
    
  }
  
  .imgmb {
    
    height: 60%;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_640.jpg");
  background-size: cover;
    
  }
  
  .mbcolltx {
    
    height: 40%;
    
  }
  
  .mbcollab {
    
    height: 40%;
    display: flex;
    background-color: #f5f4f9; 
    
  }
  
  .mbcolltitle {
    
    display: flex;
    align-items: center;
    
  }
  
  .mbtitlemaincoll {
    
    font-family: bold;
    font-size: 1.5rem;
    margin-left: 6vmin;
    color: #d0d0d0;
    
  }
  
  .mbcollmaintext {
    
    height: 60%;
    box-sizing: border-box;
    background-color: #f5f4f9;
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 7%;
    font-family: regular;
    font-size: 1rem;
    
  }
  
  .foot {
    
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
    position: relative;
    background-size: cover;
    height: 100vmax;
    
  }
  
  .footrow {
    
    height: 60%;
    
  }
  
  
  .ftcenterheadbe {
    
    display: flex;
    height: 30%;
    align-items: flex-end;
    justify-content: center;
     
  }
  
  .ftber {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vmax;
    height: 16vmax;
    background-color: #7453d3;
    box-shadow: 0 -20px 100px inset;
    border-radius: 20px;
    z-index: 2;
     
  }
  
  .ftlogo {
    
  fill: white;
  width: 3rem;
    
}
  
  .footdiscenter {
    
    margin-top: 15%;
    
  }
  
  .ftcenterheadplay {
    
    display: flex;
    flex-direction: column;
    height: 32%;
       
  }
  
  .ftplay {
    
    height: 14%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
       
  }
  
  .downlapp {
    
    font-size: 2rem;
    color: white;
    z-index: 2;
    font-family: bold;
      
  }
  
  .ftshow {
    
    height: 18%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
  }
  
  .showever {
    
    font-size: 0.8rem;
    color: #9b8ec1;
    z-index: 2;
    font-family: regular;
    
  }
  
  
  .ftprogramma {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 8%;
    z-index: 2;
    
  }
  
  .ftprogrammb {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    height: 7%;
    z-index: 2;
    
  }  
    
  
  .ftapple {
    
    width: 80%;
    height: 7.2vmax;
    background-color: #5e42b0;
    border-radius: 25px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  
  .ftgoogle {
    
    width: 80%;
    height: 7.2vmax;
    background-color: #5e42b0;
    border-radius: 25px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .ftinsapple {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5rem;
    
  }
  
  .ftwritedown {
    
    margin-left: 4%;
    flex: none;
    
  }
  
  .ftappledown {
    
    font-family: regular;
    
  }
  
  .ftapp {
    
    font-family: bold;
  }
  

  .ftinsgooogle {
    
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5rem;
  }
  
  .ftwritedowngoo {
    
    margin-left: 6%;
    flex: none;
    
  }
  
  .ftgoogledown {
    
    font-family: regular;
    
  }
  
  .ftgoo {
    
    font-family: bold;
    
  }
  
  .ftforlog {
    
   display: flex;
   justify-content: center;
   height: 18%;
   align-items: flex-end;
    
  }
  
 .ftlogot {
  
  display: flex;
  align-items: center;
  z-index: 3;
  
}
  
  .ftsur {
  
  font-size: 1.5rem;
  font-family: bold;
  color: white;
  margin-left: 2%;
  
}
  
  
}
  